[submodule "sc1-data-format"]
	path = sc1-data-format
	url = git@github.com:badgerloop-software/sc1-data-format.git
	branch = main
[submodule "file_sync"]
	path = file_sync
	url = git@github.com:badgerloop-software/file_sync.git
[submodule "ethernet_sim"]
	path = ethernet_sim
	url = git@github.com:badgerloop-software/ethernet_sim.git